body {
    background-color: #edf3d9;
}

#Title{
    font-family:'Courier New', Courier, monospace ;
    color: #126e7a;
    text-align: center;
}

h2 {
    font-family:'Courier New', Courier, monospace ;
    color:#1d048b;
}

h3,h1, h4, h5, h6 {
    font-family:'Courier New', Courier, monospace ;
}

body {
    text-align: center;
}

table {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;            
    border-spacing: 10px;
    transition: box-shadow 0.5s ease-in, border-radius 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    box-shadow: 0px 0px 10px 2px  #000000;
    border-radius: 10px
}

table:hover{
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px #000000;
}

th {
    width: 100px;
}

input{
    transition: transform 0.2s ease-in;
}

input:hover{
    transform: scale(1.05);
    border-radius: 10px;
    box-shadow: 0px 0px 1px 0px #000000;
}

#ElTitle {
    color: maroon;
}
