@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: 'Roboto', sans-serif;
}

.hidden {
  display: none;
}

body {
  text-align: center;
  /* background-color: #edf3d9; */
  background-color: #ffffff;
  margin: 0;
}

h2 {
  color: #0074d9;
}

h2.black {
  color: #111111;
}

.forms-container {
  margin: auto;
  padding: 5vh 5vw;
  width: 40vw;
  background-color: #0074d9;

  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  border-radius: 5px;
}

.inputs {
  padding-bottom: 30px;
}

input {
  margin: 5px;
}

button {
  height: 30px;
  width: 144px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.graph-container {
  padding: 20px;
  background-color: #0074d9;
}
.graphs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}



.jxgbox {
  display:flex;
  min-width: 300px;
  min-height:300px;
  width: 35vw;
  height: 35vw;
  margin: 20px;
  justify-content: center;
}

@media screen and (max-width: 760px) {
  .graph-container {
    flex-direction: column;
    margin: 0;
  }
  .jxgbox {
    width: 80vw;
    height: 80vw;
    margin: 20px auto;
  }

  .forms-container {
    margin: 0;
    padding: auto;
    width: 100vw;
    box-sizing: border-box;
  }
}

